@font-face {
   font-family: 'Dos';
   src: url('/SamosaDemoRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'Uno';
    src: url('/DeLatto.woff2') format('woff2');
}
@font-face {
    font-family: 'Tres';
    src: url('/Wasted-Vindey.woff2') format('woff2');
}
@font-face {
    font-family: 'Sinco';
    src: url('/Bahnschrift.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
